body {
	cursor:default !important;
	-webkit-user-select: none;
}
.card {
	height:208px;
	margin:0;
	margin-top:9px;
}
.card:-webkit-full-screen {
	height:220px;
}
.row {
	margin-bottom: 10px;
}
.col {
	padding-left:10px;
	padding-right: 10px;
}
span.badge.new {
	right:auto;
	font-size: 0.90rem;
	font-weight:300;
}
.card .card-content {
	padding:15px;
}
.month-row {
	height: 40px;
	line-height: 40px;
	box-shadow: none;
}
.dow-row {
	height : 25px;
	line-height: 25px;
	top:40px;
}
nav .brand-logo {
	font-size: 1.9rem;
}
.modal {
	top:2% !important;
	width:60%;
	max-height:none;
	height:96% !important;
}
#toast-container {
    top: 90%;
    right: 45%;
    width: 10%;
}
body {
	background: url(/img/wallpaper.jpg) no-repeat center center fixed;
}
body::-webkit-scrollbar { 
    display: none; 
}
html {
	font-weight:300;
}
i {
	height:40px !important;
	line-height: 40px !important;
}